{% set container_classes = [] %}
{% set wrapper_classes = [] %}
{% set left_classes = [] %}
{% set center_classes = [] %}
{% set right_classes = [] %}

{% for key, val in settings.classes %}
  {% if key == 'container' %}
    {% set container_classes = container_classes|merge(val) %}
  {% elseif key == 'wrapper' %}
    {% set wrapper_classes = wrapper_classes|merge(val) %}
  {% elseif key == 'left' %}
    {% set left_classes = left_classes|merge(val) %}
  {% elseif key == 'center' %}
    {% set center_classes = center_classes|merge(val) %}
  {% elseif key == 'right' %}
    {% set right_classes = right_classes|merge(val) %}
  {% endif %}
{% endfor %}

{% set wrapper_attributes = create_attribute() %}

{% if content %}
  <div{{ attributes.addClass(container_classes) }}>
    <div{{ wrapper_attributes.addClass(wrapper_classes) }}>

      {% if content.left %}
        <div{{ region_attributes.left.addClass(left_classes) }}>
          {{ content.left }}
        </div>
      {% endif %}
      {% if content.center %}
        <div{{ region_attributes.center.addClass(center_classes) }}>
          {{ content.center }}
        </div>
      {% endif %}
      {% if content.right %}
        <div{{ region_attributes.right.addClass(right_classes) }}>
          {{ content.right }}
        </div>
      {% endif %}

    </div>
  </div>
{% endif %}
