{% set container_classes = [] %}
{% set wrapper_classes = [] %}
{% set leftOuter_classes = [] %}
{% set leftInner_classes = [] %}
{% set rightInner_classes = [] %}
{% set rightOuter_classes = [] %}

{% for key, val in settings.classes %}
  {% if key == 'container' %}
    {% set container_classes = container_classes|merge(val) %}
  {% elseif key == 'wrapper' %}
    {% set wrapper_classes = wrapper_classes|merge(val) %}
  {% elseif key == 'left_outer' %}
    {% set leftOuter_classes = leftOuter_classes|merge(val) %}
  {% elseif key == 'left_inner' %}
    {% set leftInner_classes = leftInner_classes|merge(val) %}
  {% elseif key == 'right_inner' %}
    {% set rightInner_classes = rightInner_classes|merge(val) %}
  {% elseif key == 'right_outer' %}
    {% set rightOuter_classes = rightOuter_classes|merge(val) %}
  {% endif %}
{% endfor %}

{% set wrapper_attributes = create_attribute() %}

{% if content %}
  <div{{ attributes.addClass(container_classes) }}>
    <div{{ wrapper_attributes.addClass(wrapper_classes) }}>

      {% if content.leftOuter %}
        <div{{ region_attributes.leftOuter.addClass(leftOuter_classes) }}>
          {{ content.leftOuter }}
        </div>
      {% endif %}
      {% if content.leftInner %}
        <div{{ region_attributes.leftInner.addClass(leftInner_classes) }}>
          {{ content.leftInner }}
        </div>
      {% endif %}
      {% if content.rightInner %}
        <div{{ region_attributes.rightInner.addClass(rightInner_classes) }}>
          {{ content.rightInner }}
        </div>
      {% endif %}
      {% if content.rightOuter %}
        <div {{ region_attributes.rightOuter.addClass(rightOuter_classes) }}>
          {{ content.rightOuter }}
        </div>
      {% endif %}

    </div>
  </div>
{% endif %}
