{% set container_classes = [] %}
{% set wrapper_classes = [] %}
{% set main_classes = [] %}

{% for key, val in settings.classes %}
  {% if key == 'container' %}
    {% set container_classes = container_classes|merge(val) %}
  {% elseif key == 'wrapper'  %}
    {% set wrapper_classes = wrapper_classes|merge(val) %}
  {% elseif key == 'main' %}
    {% set main_classes = main_classes|merge(val) %}
  {% endif %}
{% endfor %}

{% set wrapper_attributes = create_attribute() %}

{% if content %}
  <div{{ attributes.addClass(container_classes) }}>
    <div{{ wrapper_attributes.addClass(wrapper_classes) }}>

      {% if content.main %}
        <div{{ region_attributes.main.addClass(main_classes) }}>
          {{ content.main }}
        </div>
      {% endif %}

    </div>
  </div>
{% endif %}
